* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
      }
      .form-register  {
        width: 400px;
        background: #36304d;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-size: 'calibri';
        color: white;
        
        box-shadow: 7px 13px 37px #000;
        

      }
      .form-register h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
      }
      .controls {
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #1f53c5;
        font-family: 'calibri';
        color:white;
        font-size: 18px;
      }
      .form-register p {
        height: 35px;
        text-align: center;
        font-size: 1px;
        line-height: 50px;
      }
      .form-register a:hover {
        color: white;
        text-decoration: underline;

      }
      .form-register a {
        color: white;
        text-decoration: none;

      }
      .form-register .botons {
        width: 100%;
        background: #1f53c5;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
      }
      